{% extends 'static_links.html' %}
{% block body %}
    <body id="home">

    {% load staticfiles %}

    <div id="menubar" class="ui fixed inverted menu">
		<div class="item">
            پرتال کلاس هوشمند
		</div>

		<div class="right item" onclick="location.href = 'student_enter.html' ">
            <i class="home icon"></i>
		</div>
        <div class="right item">
            درباره ما
		</div>
		 <div class="right item" onclick="location.href = 'teacher_enter.html' ">
ورود اساتید و مسولین
		</div>
        <!-- <div class="right item"> -->
		<!-- </div> -->
	</div>

         <div class="ui inverted vertical segment" style="background-color: #004D40"  >
        <div class="ui very relaxed stackable page grid" style="margin: 0px;" >
          <div class="row" >
            <div class="column">

            </div>
          </div>
          

          <div class="row" >
            <div class="ten wide column">
              <h1 class="ui inverted header">
                سامانه‌ی پرتال کلاس‌های هوشمند
              </h1>
                  <p  style="font-size:16px" >
                  این سامانه کاری از جمعی از دانشجویان دانشکده کامپیوتر دانشگاه صنعتی شریف است.

<br>
<br>    هدف اصلی این پرتال هوشمند، برقراری نظم و هماهنگی بین اساتید، دانشجویان و کارمندان و همچنین افزایش بازده یادگیری در کلاس های دانشکده کامپیوتر دانشگاه صنعتی شریف است.

<!-- <br> هر یک از زیربخش های این سیستم به گونه ای طراحی شده است که علاوه بر کمک به افزایش میزان هماهنگی، به حل بخشی از مشکلات دانشکده نیز کمک می کند.</br>
 -->              </p>

              
            </div>
            <div class="six wide column">
              <div class="ui form basic segment">
                
                <div class="ui sticky fixed top" style="margin-bottom: 1px; left: 615.5px; width: 250px; height: 250px; margin-top: 0px;" onclick="$('.green.leaf')
  .transition('bounce', '500ms')
  .transition('bounce', 500, function() {
  });">
        <img src="{% static "images/leaf.png"%}" id="greanleaf"class="ui green leaf image transition visible">
      </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <!--<div class="ui inverted masthead segment" style="height: 600px; margin-top: 0px; background-color: #004D40">-->
        <!--<div class="ui page grid">-->
          <!--<div class="column">-->
              <!--<div class="ui transition information" style="padding-top: 100px;">-->
              <!--<h1 class="ui inverted header">-->
                <!--سامانه‌ی پرتال کلاس‌های هوشمند-->
              <!--</h1>-->
              <!--<p>-->
<!--<br>    هدف اصلی این پرتال هوشمند، برقرای نظم و هماهنگی بین اساتید، دانشجویان و کارمندان و همچنین افزایش بازده یادگیری در کلاس های دانشکده کامپیوتر دانشگاه صنعتی شریف است.  </br>-->
<!--&lt;!&ndash; <br> هر یک از زیربخش های این سیستم به گونه ای طراحی شده است که علاوه بر کمک به افزایش میزان هماهنگی، به حل بخشی از مشکلات دانشکده نیز کمک می کند.</br>-->
 <!--&ndash;&gt;              </p>-->
              <!--<div class="large basic inverted animated fade ui button">-->
                <!--<div class="visible content">-->
<!--شروع گزارش-->
                <!--</div>-->
                <!--<div class="hidden content">-->
                <!--<a href="#loginsite" style="color:white">-->
                <!--ثبت نام-->
                <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->

      
     <div class="ui vertical segment" style="background-color: teal; " >
        <div class="ui very relaxed stackable page grid" style="margin: 0px;" id="loginsite">
          <div class="row" >
            <div class="column">
              <h1 class="center aligned ui inverted header">
طراحان پرتال
              </h1>
            </div>
          </div>
          <div class="row" >
            <div class="ten wide column">
              <h3 class="ui inverted header">
اعضای اصلی تیم طراحی این پرتال عبارتند از:

              </h3>
                <p align="justify" style="color:white; font-size:16px; "  >
<br>  <br> 
شقایق اسماعیلی
<br>  <br> 
آرین اخوان نیاکی
<br>  <br> 
نگار قربانی
<br>  <br> 
مریم ربیعی
<br> <br>  
صفا احمدیان
<br>  <br> 
ریحانه قریشی
<br> <br> 
در این پرتال سعی شده است تا اصول اصلی و گام های تعامل انسان و رایانه رعایت شود. این پرتال به عنوان پروژه درس تعامل انسان و رایانه و تحت نظارت
<b> دکتر نظری شیره جینی </b>
 و با کمک اعضای
<b> آزمایشگاه تعامل انسان و رایانه دانشکده کامپیوتر دانشگاه صنعتی شریف </b>
به خصوص 
<b>سارا دارایی </b>
عرضه شده است. هدف اصلی این پرتال بهبود شرایط کلاس های درس و در نتیجه افزایش یادگیری دانشجویان است.


              
              <div class="ui inverted section divider"></div>
              
              
            </div>
            <div class="six wide column">
            <img src="{%  static "images/smartclass.gif"%}">

            
      </div>
              <!-- <div class="ui form segment"> -->
                <!--<h3 class="ui header">-->
                    <!--وارد پرتال شو!-->
                <!--</h3>-->
                <!--<p>-->
                <!--با وارد کردن نام کاربری شریف آی دی.-->
                <!--</p>-->
                <!--<div class="field">-->
                  <!--<div class="ui left icon action input">-->
                    <!--<i class="signup icon"></i>-->
                    <!--<input name="email" type="text" placeholder="شناسه شریف شما">-->
                    <!--<div class="ui black submit button">-->
                    <!--<a href="dashboard.html" style="color:white">ورود-->
                    <!--</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="ui error message"></div>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
      <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="ten wide column">
        <div class="ui three column center aligned stackable grid">
          <div class="column">
            <h5 class="ui inverted header">لینک‌های مرتبط</h5>
            <div class="ui inverted link list">
              <a class="item">آزمایشگاه تعامل انسان با رایانه</a>
              <a href="http://www.ce.sharif.ir" class="item">دانشکده مهندسی کامپیوتر</a>
              <a href="http://www.sharif.ir" class="item">دانشگاه صعنعتی شریف</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">لینک‌های سریع</h5>
            <div class="ui inverted link list">
              <a class="item">A-Z</a>
              <a class="item">Most Popular</a>
              <a class="item">Recently Changed</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">دنبال کنید</h5>
            <div class="ui inverted link list">
              <a class="item">Twitter</a>
              <a class="item">Facebook</a>
              <a class="item">Linkedin</a>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <h5 class="ui inverted header">ارتباط با ما</h5>
        <addr>
          خیابان آزادی دانشگاه صنعتی شریف
           <br>
          دانشکده مهندسی کامپیوتر، لابی
           <br>
        </addr>
        <p>
            ۰۹۱۲-۹۹۹۲۲۲۲۲
        </p>
      </div>
    </div>
  </div>





<script type="text/javascript">
$(document).ready(function(){
$(greanleaf).click(function(e){
     e.preventDefault();
     
      if($("#greanleaf").attr('src')=='images/redleaf.png')
        {$("#greanleaf").attr('src',"images/leaf.png");
      return;}

     if($("#greanleaf").attr('src')=='images/leaf.png')
     {$("#greanleaf").attr('src',"images/redleaf.png");
   return;}


   });

$('.green.leaf')
  .transition('horizontal flip', '500ms')
  .transition('horizontal flip', 500, function() {
  })
  .transition('slide up', '500ms')
  .transition('slide up', 500, function() {
  })

;
	$('.link').popup({
		position: 'left center'
	});

    $("#login_username").keyup(function(event){
    if(event.keyCode == 13){
        $("#login_button").click();
    }
});

});

</script>

</body>
{% endblock %}