{% extends 'base.html' %}

{% block content %}
	<div class="segment">
		<div class="the-content">


<h2 class="ui header">
	<i class="dashboard circular icon"></i>
	<div class="content">داشبورد سیستم
  			<div class="sub header">نمای کلی از آخرین وقایع و آمار سیستم</div>
  	</div>
  	<div class="ui divider"></div>
</h2>


<div class="ui bottom attached active tab stacked segment" data-tab="customer-info">
	<div class="ui stackable grid">
		<div class="five column wide">
			<div class="ui center aligned basic segment">
				<h2 class="ui icon header">
					<div class="content">
				  		<i class="male small purple circular inverted icon"></i>
				  		بهزاد مهرتاش
				  	</div>
				</h2>
			</div>

			<div class="ui horizontal section divider"><div class="ui label">فعالیت‌های من </div></div>

			<table class="ui table">
				<tbody>

					<tr>
						<td class="one-px-col"><i class="pencil link  icon" title="در کلاس ۱۰۱ ماژیک نیست"></i></td>
						<td><a href="">
                            نبود ماژیک
						</a></td>
						<td><i class="ban circle link icon" title="رد شده (توسط کارکنان)"></i></td>

					</tr>

					<tr>
						<td class="one-px-col"><i class="pencil link icon" title="کلاس ۲۰۱ و ۱۰۳ تخته‌ی کثیفی دارند."></i></td>
						<td><a href="">
                        کثیف بودن تخته
                        </a></td>
                        <td><i class="full star link icon" title="رسیدگی شده است."></i></td>

					</tr>

					<tr>
						<td class="one-px-col"><i class="pencil link icon" title="یک عدد هندزرفی در کلاس ۱۰۳"></i></td>
						<td><a href="">
                        یک عدد هندزفری
                        </a></td>
                        <td><i class="half empty star link icon" title="ناقص"></i></td>

					</tr>

					<tr>
						<td class="one-px-col"><i class="pencil link icon" title="هوای کلاس ۴۰۱ خیلی گرمه"></i></td>
						<td><a href="">
                        تهویه کلاس ۴۰۱
                        </a></td>
                        <td><i class="half empty star link icon" title="ناقص"></i></td>

					</tr>

					<tr>
						<td class="one-px-col"><i class="pencil link icon" title="کلاس ۱۰۲ در بعد از ظهر بسیار نور کمی دارد."></i></td>
						<td><a href="">
                        مشکل نور
                        </a></td>
                        <td><i class="ban circle link icon" title="رد شده (توسط کارکنان)"></i></td>

					</tr>

					<tr>
						<td class="one-px-col"><i class="pencil link icon" title="پروژکتور کلاس ۴۰۱ داغ می‌شود"></i></td>
						<td><a href="">
خراب بودن پروژکتور
						</a></td>
						<td><i class="ban circle link icon" title="رد شده (توسط کارکنان)"></i></td>

					</tr>

					<tr>
						<td class="one-px-col"><i class="pencil link icon" title="کلاس ۲۰۲ کنترل ندارد."></i></td>
						<td><a href="">
                        کنترل پروژکتور کلاس ۲۰۲
                        </a></td>
                        <td><i class="full star link icon" title="رسیدگی شده است."></i></td>

					</tr>

				</tbody>
			</table>
		</div>

		<div class="eleven column wide">
<!-- 3 dokme functionality -->
<div class="ui basic segment">
				<div class="ui horizontal section divider"><div class="ui label">پرتال</div></div>
				<div class="ui stackable grid center aligned ">
                    <div class="five column wide">
                        <div class="ui center aligned basic segment">
                           <div class="ui square segment">
                           <a href="problem_report.html">
                              <h2 class="ui header">
                                   <div class="column"><i class="large edit icon"></i></div>
                                    <div class="sub header">ثبت مشکلات</div>
                              </h2>
                              </a>
                            </div>
                        </div>

                    </div>

                    <div class="five column wide">
                        <div class="ui center aligned basic segment">
                           <div class="ui square segment">
                           	  <a href="reserve.html">
                              <h2 class="ui header">
                                       <div class="column"><i class="large calendar icon"></i></div>

                                    <div class="sub header">زمان بندی کلاس‌</div>
                              </h2>
                              </a>
                            </div>
                        </div>

                    </div>

                    <div class="five column wide">
                        <div class="ui center aligned basic segment">
                           <div class="ui square segment">
                           <a href="lost.html">
                              <h2 class="ui header">
                                   <div class="column"><i class="large archive icon"></i></div>
                                    <div class="sub header">اشیا گمشده</div>
                              </h2>
                            </a>
                            </div>
                        </div>

                    </div>
                    </div>
			</div>
<!--  -->

			<div class="ui basic segment">
				<div class="ui horizontal section divider"><div class="ui label"> گزارش‌های اخیر</div></div>
				<table class="ui table segment orders">
					<thead>
						<tr>
							<th class="one-px-col"></th>
							<th>کاربر</th>
							<th>زمان گزارش</th>
							<th>موضوع</th>
							<th class="one-px-col"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th colspan="3">6 گزارش
								(<a href="/?all=1">نمایش تمامی گزارش‌ها</a>)</th>
							<th colspan="3" class="left-aligned">
								<div class="ui small pagination menu">
									<a class="icon item disabled">
										<i class="left arrow icon"></i>
									</a>
									<div class="item">
										صفحه 1 از 1
									</div>
									<a class="icon item disabled">
										<i class="right arrow icon"></i>
									</a>
								</div>
							</th>
						</tr>
					</tfoot>
					<tbody>

						<tr>
							<td><i class="ban circle link icon" title="رد شده (توسط کارکنان)"></i></td>
							<td><a href="" class="link" data-html="بله بله این هم درسته بنظر که.">بهداد کی‌نژاد </a></td>
							<td>17 اردیبهشت 1394،  8: 1</td>
							<td>
                                قطعی اینترنت کلاس ۲۰۲
							</td>
							<td>

							</td>
						</tr>

						<tr>
							<td><i class="full star link icon" title="رسیدگی شده است."></i></td>
							<td><a href="" class="link" data-html="خیلی کثیفه">حجت آقاخانی</a></td>
							<td>16 اردیبهشت 1394،  10: 12</td>
							<td>
                                نظافت کلاس ۷۰۴
							</td>
							<td>

							</td>
						</tr>

						<tr>
							<td><i class="half empty star link icon" title="ناقص"></i></td>
							<td><a href="" class="link" data-html="&lt;p&gt;شاید درسته ؟&lt;/p&gt;">حجت آقاخانی</a></td>
							<td>16 اردیبهشت 1394،  13: 9</td>
							<td></td>
							<td>

							</td>
						</tr>

						<tr>
							<td><i class="half empty star link icon" title="ناقص"></i></td>
							<td><a href="" class="link" data-html="&lt;p&gt;منتظر تماس من باش&lt;/p&gt;">کامیار الله وردی</a></td>
							<td>16 اردیبهشت 1394،  04: 9</td>
							<td>
                            دانشگاه کلگری سرده
                            </td>
							<td>

							</td>
						</tr>

						<tr>
							<td><i class="half empty star link icon" title="ناقص"></i></td>
							<td><a href="" class="link" data-html="&lt;p&gt;درسته؟!&lt;/p&gt;">کامیار الله وردی</a></td>
							<td>15 اردیبهشت 1394،  13:12</td>
							<td></td>
							<td>

							</td>
						</tr>

						<tr>
							<td><i class="half empty star link icon" title="ناقص"></i></td>
							<td><a href="/orders/22/" class="link" data-html="&lt;p&gt;dd&lt;/p&gt;">کامیار الله وردی</a></td>
							<td>14 اردیبهشت 1394،  8:12</td>
							<td>
                            همین رو برنامه کنیم؟
                            </td>
							<td>

							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

		</div>
	</div>


	<script type="text/javascript" src="static/javascript/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="static/semantic-ui/javascript/semantic.min.js"></script>
	<script type="text/javascript"></script>



<script type="text/javascript">
$(document).ready(function(){
	$('.link').popup({
		position: 'left center',
	});
});
</script>

{% endblock %}