{% extends 'base.html' %}
{% block content %}
<div class=" the-content" id="messages">
    <div  class="col-lg-5 col-md-push-1 pull-right">
        <div class="col-md-12">
            <div class="ui green message" style="margin: 20px;">
            <strong><i class="check square icon"></i>
                پیام شما ارسال شد.
                با تشکر.

            </strong>
        </div>
    </div>
    <a href="
        فرم اطلاع رسانی - صفحه ی اصلی.html
        " id="return" class="positive ui button">
        بازگشت

    </a>
</div>
</div>
<div class="the-content" id="content1">


    <h2 class="ui header">
        <i class="alarm icon"></i>

        <div class="content"> فرم نظرسنجی
            <i class="bell outline icon"></i>
        </div>
        <div class="ui divider"></div>
    </h2>
    <div class="ui bottom attached active tab stacked segment" data-tab="customer-info">
        <div class="ui grid">

            <div class="eight wide column">

                <label>
                    لطفا به سوالات زیر پاسخ دهید:
                </label>
                <br/>
                <br/>
                <div>
                    <label>
                        1.
                        آیا مساله به موقع حل شد؟
                    </label>
                    <br/>
                    <label style="margin-left: 40px;">
                        <div class="radio">
                            <input type="radio" name="optradio">
                            <label style="padding-right: 20px;">
                                بله
                            </label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="optradio">
                            <label style="padding-right: 20px;">
                                خیر
                            </label>
                        </div>
                    </label>
                </div>
                </label>
                <br/>

                <label>
                    2.
                    آیا از کیفیت انجام کار راضی هستید؟
                </label>
                <div class="form-group">
                        <span  style="background-color: white; text-align: center; left: 100px; color:#ffffff">
        <button id="1_neg3" class="ui circular icon button " style="background-color: #880000;">
            <span style="color: #ffffff">  3-</span>
        </button>
        <button id="1_neg2" class="ui  circular icon button" style="background-color: #992222">
            <span style="color: #ffffff">  2-</span>
        </button>
        <button id="1_neg1" class="ui  circular icon button" style="background-color: #cc4444;">
            <span style="color: #ffffff">  1-</span>
        </button>
        <button id="1_0" class="ui  circular icon button" style="background-color: #999999;">
            <span style="color: #ffffff">  &nbsp0&nbsp</span>

        </button>
        <button id="1_1" class="ui  circular icon button" style="background-color: #0000FF;">
            <span style="color: #ffffff">  &nbsp1&nbsp</span>
        </button>

        <button id="1_2" class="ui  circular icon button" style="background-color: #0000CC;">
            <span style="color: #ffffff">  &nbsp2&nbsp</span>

        </button>
        <button id="1_3" class="ui  circular icon button" style="background-color: #0000CC;">
            <span style="color: #ffffff">  &nbsp3&nbsp</span>
        </button>
    </span>
                </div>
                <br/>
                <input name="submit" id="submit" value="
                    ارسال
                    " class="ui button facebook">



            </div>
            <div class="eight wide column">

                <form role="form">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <span style="font-size: 3em;" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <label>
                                انتخاب کلاس
                                <i class="home icon" style="font-size: 300%"></i>
                            </label>

                            <div class="ui grid ">
                                <div class="row">
                                    <div class="ten wide column" >
                                        <div class="ui selection dropdown fluid ">
                                            <input type="hidden" name="classproblem">
                                            <div class="default text">انتخاب نشده</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="item" data-value="0">کلاس 101</div>
                                                <div class="item" data-value="2">کلاس 102</div>
                                                <div class="item" data-value="3">کلاس 103</div>
                                                <div class="item" data-value="4">کلاس 202</div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="six wide column ">
                                        <div class="vertically center">
                                            <div class="ui icon label">
                                                <i class="asterisk icon"></i>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                        <label >
                            مشکل را انتخاب کنید
                        </label>
                        <div class="ui grid ">
                            <div class="row">
                                <div class="ten wide column" >
                                    <div class="ui selection dropdown fluid ">
                                        <input type="hidden" name="classproblem">
                                        <div class="default text">انتخاب نشده</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="0">ماژیک</div>
                                            <div class="item" data-value="2">کنترل پروزکتور</div>
                                            <div class="item" data-value="3">تحویه</div>
                                            <div class="item" data-value="4">نظافت</div>
                                        </div>

                                    </div>

                                </div>
                                <div class="six wide column ">
                                    <div class="vertically center">
                                        <div class="ui icon label">
                                            <i class="asterisk icon"></i>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </form>

            </div>
        </div>

    </div>

</div>

</div>



<script>
    $("#messages").hide();
    $("#submit").click(function showMessages()
    {
        $("#content1").hide();
        $("#messages").fadeIn(2000);
    });

    $("#1_neg3").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_neg3").css("opacity","1");
    });

    $("#1_neg2").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_neg2").css("opacity","1");
    });

    $("#1_neg1").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_neg1").css("opacity","1");
    });

    $("#1_0").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_0").css("opacity","1");
    });

    $("#1_1").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_1").css("opacity","1");
    });

    $("#1_2").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_2").css("opacity","1");
    });

    $("#1_3").click(function(){
        $("button").filter(function(){
            return this.id.match("1_")
        }).css("opacity","0.2");
        $("#1_3").css("opacity","1");
    });

    $("#2_neg3").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_neg3").css("opacity","1");
    });

    $("#2_neg2").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_neg2").css("opacity","1");
    });

    $("#2_neg1").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_neg1").css("opacity","1");
    });

    $("#2_0").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_0").css("opacity","1");
    });

    $("#2_1").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_1").css("opacity","1");
    });

    $("#2_2").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_2").css("opacity","1");
    });

    $("#2_3").click(function(){
        $("button").filter(function(){
            return this.id.match("2_")
        }).css("opacity","0.2");
        $("#2_3").css("opacity","1");
    });

    $(document).ready(function(){
        $('.link').popup({
            position: 'left center'
        });

        $('.large.green.checkmark.icon').popup({
            position: 'left center'
        });

        $('.popping.item').popup({
            position: 'left center'
        });

        $('.ui.dropdown')
                .dropdown()
        ;
        $("#add-lost").click(function(){
            class_name = $('.text').text();
            issue_name = $('#lost-name').val();
            $("#lost-table").append("<tr><td>"+class_name+"</td><td>"+issue_name+"</td><td>۳۰ اردیبهشت ۱۳۹۴ </td><td></td></tr")
        })
    });
</script>

{% endblock %}