{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}



<div class="segment">
    <div class="the-content">


        <h2 class="ui header">
            <i class="icon fontawesome-book  scnd-font-color"></i>
            <div class="content"> کلاس ۱۰۱
                <div class="sub header">
                    اطلاعات مربوط به کلاس ۱۰۱
                </div>
            </div>
            <div class="ui divider"></div>
        </h2>


        <div class="ui bottom attached active tab stacked segment" data-tab="customer-info">
            <div class="ui stackable grid">
                <div class="five column wide">
                    <div class="ui center aligned basic segment">
                        <h2 class="ui icon header">
                            <div class="content">
                                <img class="ui image medium" src="{% static "images/1.jpeg" %}">
                            </div>
                        </h2>
                    </div>



                    <div class="ui horizontal section divider"><div class="ui label">مشخصات کلاس </div></div>



                    <table class="ui table">
                        <tbody>

                        <tr>
                            <td>ظرفیت</td>
                            <td>
                                ۵۵ نفر
                            </td>
                        </tr>

                        <tr>
                            <td>سیستم تهویه</td>
                            <td>
                                <i class="green check icon"></i>
                            </td>
                        </tr>

                        <tr>
                            <td> تخته هوشمند</td>
                            <td>
                                <i class="red remove icon"></i>
                            </td>
                        </tr>

                        <tr>
                            <td> پروژکتور</td>
                            <td>
                                <i class="green check icon"></i>
                            </td>
                        </tr>

                        <tr>
                            <td>سیستم روشنایی هوشمند</td>
                            <td>
                                <i class="red remove icon"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="eleven column wide">
                    <div class="ui basic segment">
                        <div class="ui horizontal section divider"><div class="ui label"> مشکلات </div></div>
                        <div class="field">
                            <div id="comments" class="ui comments">

                                <h3 class="ui dividing header">
                                    ثبت مشکل جدید
                                </h3>
                                <div class="text">
                                    <i class="info icon"></i>

                                    در صورتی که مشکل قبلاً ثبت‌شده است، در قسمت <a id="link" href="#button">مشکلات ثبت‌شده</a> آن را upvote کنید. <br> برای ثبت مشکل جدید، برچسب(های) مرتبط با مشکل را انتخاب کنید. <br>
                                </div>

                                <form id="comment-form" class="ui reply form">
                                    <div class="ui basic segment" style="float:left ">
                                        <a class="ui label" onclick="selectTag(1)"
                                           id="1base">تخته و ماژیک</a>

                                        <a class="ui label" onclick="selectTag(2)"
                                           id="2base">پروژکتور</a>


                                        <a class="ui label" onclick="selectTag(3)"
                                           id="3base">تهویه</a>

                                        <a class="ui label" onclick="selectTag(4)"
                                           id="4base">نظافت</a>

                                        <a class="ui label" onclick="selectTag(5)"
                                           id="4base">موارد دیگر</a>
                                    </div>

                                    <div class="field">
                                        <textarea id="text" style=" height: 15px;"></textarea>
                                    </div>
                                    <div id="button" class="ui blue labeled submit icon button" >
                                        <i class="icon edit"></i>
                                        ثبت مشکل
                                    </div>
                                </form>

                                <h3 class="ui dividing header">
                                    مشکلات ثبت‌شده
                                </h3>
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">
                                            بهداد کی‌نژاد
                                        </a>
                                        <div class="metadata">
												<span class="date">
													شنبه ۲۳ اردیبهشت ۹۴ ساعت ۸:۴۵
												</span>
<span>
													<a class="ui blue label" >موارد دیگر</a>
												</span>
                                        </div>
                                        <div class="text">
                                            چقدر این کلاس کثیفه!
                                        </div>
                                        <div class="actions">
                                            <a class="reply"><i class="large fontawesome-arrow-up icon"></i> <span style="font-size: 20px;">23</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">
                                            محمد مصباح
                                        </a>
                                        <div class="metadata">
												<span class="date">
													۴شنبه ۱۸ اردیبهشت ۹۴ ساعت ۱۵:۱۰
												</span>
												<span>
													<a class="ui blue label" >تهویه</a>
												</span>
                                        </div>
                                        <div class="text">
                                            <p>
                                                هوای این کلاس خیلی گرم میشه.
                                            </p>
                                        </div>
                                        <div class="actions">
                                            <a class="reply"><i  class="large fontawesome-arrow-up icon"></i> <span style="font-size: 20px;">12</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">
                                            دکتر ضرابی‌زاده
                                        </a>
                                        <div class="metadata">
												<span class="date">
													۲شنبه ۲۰ فروردین ۹۴ ساعت ۱۳:۴۵
												</span>
												<span>
													<a class="ui blue label" >پروژکتور</a>

												</span>
                                        </div>
                                        <div class="text">
                                            پروژکتور این کلاس یک ربع یک بار خاموش می‌شود.
                                        </div>
                                        <div class="actions">
                                            <a class="reply"><i  class="large fontawesome-arrow-up icon"></i><span style="font-size: 20px;"> 45</span></a>
                                        </div>
                                    </div>
                                </div>
                                <br>

                            </div>
                        </div>
                        <div class="ui horizontal section divider">
                            <div class="ui label"> اشیای پیدا‌شده</div>
                        </div>
                        <table class="ui celled structured table" id="lost-table">
                            <thead>
                            <tr>
                                <th rowspan="2">کلاس</th>
                                <th rowspan="2">شی گم‌شده</th>
                                <th rowspan="2">تاریخ</th>
                                <th rowspan="2">عکس</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    کلاس ۱۰۱
                                </td>
                                <td>
                                    <i class="popping item" data-html="&lt;img class='ui image medium' src='images/3.jpeg'&lt;&gt;">
                                        سویت‌شرت

                                    </i>

                                </td>
                                <td>17اردیبهشت 1394 </td>
                                <td>
                                    <i class="large green checkmark icon" data-html="&lt;img class='ui image medium' src='images/3.jpeg'&lt;&gt;"></i>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">
                                    کلاس ۱۰۲
                                </td>
                                <td>
                                    <i class="popping item" data-html="&lt;img class='ui image medium' src='images/4.jpg'&lt;&gt;">
                                        جامدادی
                                    </i>

                                </td>
                                <td>۲۹ فروردین 1394 </td>
                                <td>
                                    <i class="large green checkmark icon" data-html="&lt;img class='ui image medium' src='images/4.jpg'&lt;&gt;"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    کیف پول
                                </td>
                                <td>۳۱ فروردین 1394 </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="popping item" data-html="&lt;img class='ui image medium' src='images/2.jpeg'&lt;&gt;">
                                        شارژر لپ‌تاپ

                                    </i>

                                </td>
                                <td>۱۲ اردیبهشت 1394 </td>
                                <td>
                                    <i class="large green checkmark icon" data-html="&lt;img class='ui image medium' src='images/2.jpeg'&lt;&gt;"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui horizontal section divider"><div class="ui label"> برنامه کلاس</div></div>

                        <table class="ui celled table" style="margin-top:14px;">
                            <thead style="font-size:15px">
                            <tr>
                                <th>
                                    روز / ساعت
                                </th>
                                <th>
                                    ۷:۳۰-۹
                                </th>
                                <th>۹-۱۰:۳۰</th>
                                <th>۱۰:۳۰-۱۲</th>
                                <th>۱۳:۳۰-۱۵</th>
                                <th>۱۵-۱۶:۳۰</th>
                                <th>۱۶:۳۰-۱۸</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    شنبه
                                </td>
                                <td>شبکه</td>
                                <td>

                                </td>
                                <td>مهندسی نرم‌افزار</td>
                                <td>
                                    HCI
                                </td>
                                <td></td>
                                <td>تجارت الکترونیکی</td>
                            </tr>
                            <tr>
                                <td>
                                    یکشنبه
                                </td>
                                <td></td>
                                <td>سیستم عامل</td>
                                <td>فناوری اطلاعات</td>
                                <td>برنامه‌نویسی</td>
                                <td>
                                    الگوریتم
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    دو‌شنبه
                                </td>
                                <td>شبکه</td>
                                <td>
                                    وب
                                </td>
                                <td>مهندسی نرم‌افزار</td>
                                <td>
                                    HCI
                                </td>
                                <td></td>
                                <td>تجارت الکترونیکی</td>
                            </tr>
                            <tr>
                                <td>
                                    سه‌شنبه
                                </td>
                                <td></td>
                                <td>سیستم عامل</td>
                                <td>فناوری اطلاعات</td>
                                <td>برنامه‌نویسی</td>
                                <td>
                                    الگوریتم
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    چهار‌شنبه
                                </td>
                                <td> </td>
                                <td>وب</td>
                                <td>حل تمرین</td>
                                <td></td>
                                <td>
                                    پایگاه داده
                                </td>
                                <td>
                                    پایگاه داده
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="../static/javascript/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../static/semantic-ui/javascript/semantic.min.js"></script>




<script type="text/javascript">
    $(document).ready(function(){
        $('.link').popup({
            position: 'left center'
        });
        $('.large.green.checkmark.icon').popup({
            position: 'left center'
        });
        $('.popping.item').popup({
            position: 'left center'
        });

        $('.fontawesome-arrow-up.icon').click(function(){
            icon = $(this);
            console.log(icon)

            if(icon.hasClass('animated')){
                icon.removeClass('animated swing');
                icon.parent().css('color','rgba(0,0,0,.3)');
                likes_number = icon.siblings().text();
                console.log(likes_number)
                counter_likes = parseInt(likes_number)-1;
                icon.siblings().text(counter_likes);

            }
            else{
                icon.addClass('animated swing');
                icon.parent().css('color','RGB(31,131,246)');
                likes_number = icon.siblings().text();
                console.log(likes_number)
                counter_likes = parseInt(likes_number)+1;
                icon.siblings().text(counter_likes);
            }


        })

        $("#button").on("click", function( e ) {

            e.preventDefault();

            $("body, html").animate({
                scrollTop: $( $('#link').attr('href') ).offset().top
            }, 600);

        });


    });


    var button = document.getElementById('button');
    button.onclick = function(){
        return addComment();
    };

    function selectTag(id) {
        if (document.getElementById(id + 'base').className == "ui label") {
            document.getElementById(id + 'base').className = "ui blue label";
            document.getElementById(id + 'base').selected = true;
        }
        else {
            document.getElementById(id + 'base').className = "ui label";
            document.getElementById(id + 'base').selected = false;
        }
    }
    function addComment(){
        var container=document.getElementById('comments');

        var cm = document.createElement('div');
        cm.className = 'comment';

        var content = document.createElement('div');
        content.className = 'content';

        var author = document.createElement('a');
        author.className = 'author';
        author.innerHTML = "بهزاد مهرتاش";

        var metadata = document.createElement('div');
        metadata.className = 'metadata';

        var date = document.createElement('span');
        date.className = 'date';
        date.innerHTML= "الان" ;

        var labelsp = document.createElement('span');

        if (document.getElementById('2base').className === "ui blue label"){
            var label = document.createElement('a');
            label.className = "ui blue label" ;
            label.innerHTML = "پروژکتور";
            labelsp.appendChild(label);

        }
        if (document.getElementById('1base').className === "ui blue label"){
            var label2 = document.createElement('a');
            label2.className = "ui blue label" ;
            label2.innerHTML = "تخته و ماژیک";
            labelsp.appendChild(label2);

        }
        if (document.getElementById('3base').className === "ui blue label"){
            var label3 = document.createElement('a');
            label3.className = "ui blue label" ;
            label3.innerHTML = "تهویه";
            labelsp.appendChild(label3);

        }
        if (document.getElementById('4base').className === "ui blue label"){
            var label4 = document.createElement('a');
            label4.className = "ui blue label" ;
            label4.innerHTML = "موارد دیگر";
            labelsp.appendChild(label4);

        }
        metadata.appendChild(date);
        metadata.appendChild(labelsp);

        var text = document.createElement('div');
        text.className = 'text';
        text.innerHTML = document.getElementById("text").value;
        document.getElementById("text").value = " ";

        var actions = document.createElement('div');
        actions.className = 'actions';

        var reply = document.createElement('a');
        reply.className = 'reply';

        var icon = document.createElement('i');
        icon.className = "large fontawesome-arrow-up icon";
        icon.style.color = "gray";



        var span = document.createElement('span');
        span.innerHTML = '<span>1</span>';
        span.style.fontSize = "20px";
        span.style.color = "gray";

        actions.appendChild(reply);
        actions.appendChild(icon);
        actions.appendChild(span);

        content.appendChild(author);
        content.appendChild(metadata);
        content.appendChild(text);
        content.appendChild(actions);

        cm.appendChild(content);

        container.appendChild(cm);

        for (var i= 1; i<5;i++) {
            document.getElementById(i + 'base').className = "ui label";
            document.getElementById(i + 'base').selected = false;
        }



        return true;
    }




</script>


{% endblock %}